<!doctype html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>designory. - Front End Developer - Take Home Test</title>
    <meta name="description" content="designory front end developer take home test">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
  <div class="page-container">

  <!-- Logo and Nav links -->
  <div class="header-container">
    <img class="nav-logo" src='http://www.designory.com/images/designory-logo.png' />
      <!-- mobile menu "hamburger" button set for responsive use -->
      <div class="hamburger" onClick={hamburgerClick()}>
        <div class="nav-link-container">
          <div class="nav-link"> Portfolio </div>
          <div class="nav-link"> Process </div>
          <div class="nav-link"> Journal </div>
          <div class="nav-link"> Contact Info </div>
        </div>
      </div>
  </div>

  <div class="banner-outer-container">
    <div class="banner-inner-container">
      <div class="banner-message">
        <h2>Well, Hello there</h2>
        <h1>This is where your message should go.<h1>
        <button class="button-black"> DOWNLOAD NOW </button>
      </div>
    </div>
  </div>

  <!-- Main site content to go in here -->
  <div class="content-container">

    <!-- article cards are hard coded for example purposes -->
    <div class="article-container">
      <div class="article-card">
        <img class="article-img" />
        <div class="article-title">Article 1</div>
        <div class="article-date">Aug 8, 2013 </div>
        <div class="article-description">
          Lorem ipsum dolor sit amet, consecteturadipiscing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
          veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
          commodo consequat.
        </div>
      </div>

      <div class="article-card">
        <img class="article-img" />
        <div class="article-title">Article 2</div>
        <div class="article-date">Aug 14, 2013 </div>
        <div class="article-description">
          Lorem ipsum dolor sit amet, consecteturadipiscing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
          veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
          commodo consequat.
        </div>
      </div>

      <div class="article-card">
        <img class="article-img" />
        <div class="article-title">Article 3</div>
        <div class="article-date">Aug 21, 2013 </div>
        <div class="article-description">
          Lorem ipsum dolor sit amet, consecteturadipiscing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
          veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
          commodo consequat.
        </div>
      </div>
    </div>

    <!-- using universal names to describe container class styles -->
    <div class="split-container">
      <img class="split-container-img" src="" />
      <div class="split-container-content">
        <div class="headline">Get the New Razda template</div>
        <div class="subtitle">
          The best new way to showcase your work
        </div>
        <div class="split-container-message">
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem
          accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae
          ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt
          explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut
          odit aut fugit, sed quia consequuntur magni dolores eos qui ratione
          voluptatem sequi nesciunt.
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem
          accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae
          ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt
          explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut
          odit aut fugit, sed quia consequuntur magni dolores eos qui ratione
          voluptatem sequi nesciunt.
        </div>
        <button class="button-black"> DOWNLOAD NOW </button>
      </div>
    </div>

    <!-- footer here. Still within constraints set in content container -->
    <div class="footer-container">
      <div class="footer-text"> PHONE: <b> 885.827.1938 </b> </div>
      <div class="footer-text"> © COPYRIGHT 2013 <b> DESIGNORY.COM </b> </div>
    </div>
  </div>

</div>

    <script defer src="js/main.js"></script>
</body>
</html>
